apiVersion: v1
kind: Service
metadata:
  name: census-service
  namespace: dev
spec:
  selector:
    app: census
  ports:
    - name: http
      protocol: TCP
      port: 5000
      targetPort: 5000
  type: ClusterIP
